packages:
  yum:
    # Install Google Chrome dependencies
    libX11: []
    libXcomposite: []
    libXcursor: []
    libXdamage: []
    libXrandr: []
    libXScrnSaver: []
    cairo: []
    pango: []
    gtk3: []

commands:
  01_download_chrome:
    command: |
      curl -o /tmp/google-chrome.rpm https://dl.google.com/linux/direct/google-chrome-stable_current_x86_64.rpm
      sudo yum localinstall -y /tmp/google-chrome.rpm
      
  02_download_chromedriver:
    command: |
      CHROMEDRIVER_VERSION=$(curl -sS https://chromedriver.storage.googleapis.com/LATEST_RELEASE)
      curl -O https://chromedriver.storage.googleapis.com/$CHROMEDRIVER_VERSION/chromedriver_linux64.zip
      unzip chromedriver_linux64.zip -d /usr/local/bin/
      sudo chmod +x /usr/local/bin/chromedriver
